html {
  font-family: Helvetica, sans-serif;
  background-image: url(https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg);
  text-align:center;
}

h1,
  h2 {
    color: DarkGreen;
  }
h3  {
  color: SeaGreen;
}
li {
  text-align: center;
}

ol  {
  color:white;
}
